.collapsible-header {
    background-color: #0277bd;
    color: white;
}

.collapsible-header:hover {
    opacity: .8 !important  ;
}

#curso-nome {
    text-align: center;
}

#curso-nome:hover {
    font-size: .9em;
    background-color: #26a69a;
    color: white;
}