<div class="container">
  <h4 class="sobre-titulo">O que é o CFTI?</h4>
  <p class="sobre-texto">O Centro de Formação Tecnológica do Instituto de Informática – CFTI tem por finalidade empreender projetos e ações de formação
    educacional e tecnológica, além de aperfeiçoamento contínuo de quadros de pessoal no âmbito corporativo. Visa qualificar
    técnica, tecnológica e metodologicamente educandos e profissionais das áreas de tecnologia da informação, de gestão da
    informação e de desenvolvimento organizacional, bem como prover suporte à formação de competências essenciais nas organizações
    públicas e privadas. Por meio da educação tecnológica pretende-se ajustar o indivíduo ao período histórico no qual vive,
    não somente no sentido de proporciona-lhe conhecimentos para utilizar os instrumentos e as tecnologias existentes, mas
    também de posicionar-se e entendê-las de forma crítica.
  </p>
  <p>Nesse sentido, ações de cunho social serão desenvolvidas para qualificar alunos e cidadãos de baixa renda e atender às
    organizações públicas e de terceiro setor. Por meio da formação de competências buscar-se-á promover ações de P&D e de
    prestação de serviços que propicie a efetividade organizacional, tendo por base o aperfeiçoamento contínuo do capital
    humano e as necessidades de desenvolvimento dos aspectos conceituais, procedimentais e atitudinais de seus colaboradores.
  </p>
  <p>Este Centro estará vinculado ao Instituto de Informática da UFG, executando a programação das ações previstas de formação
    e educação tecnológica e profissional e a sua própria gestão através do APOEMA Tecnologia e Inovação. O princípio geral
    para a atuação do CFTI é o atendimento às demandas de formação e aperfeiçoamento dos cidadãos, do mercado de trabalho
    e da sociedade, no tocante às tecnologias computacionais e de comunicação.</p>
</div>