<nav>
  <div class="container nav-wrapper">
    <a href="#" class="brand-logo"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">dehaze</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="nav-link " href="#" [routerLink]="['']">Home</a>
      </li>
      <li>
        <a class="nav-link " href="#" [routerLink]="['sobre']" routerLinkActive="active">Sobre</a>
      </li>
      <li>
        <a class="nav-link " href="#" [routerLink]="['cursos']" routerLinkActive="active">Cursos</a>
      </li>
    </ul>
    <ul id="mobile-demo" class="side-nav">
      <li>
        <a class="nav-link " href="#" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav-link " href="#" [routerLink]="['sobre']" routerLinkActive="active">Sobre</a>
      </li>
      <li>
        <a class="nav-link " href="#" [routerLink]="['cursos']" routerLinkActive="active">Cursos</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <img src="assets/logo.jpg">
        <h5 class="white-text">Centro de Formação Tecnológica do INF</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 2</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 3</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>