<div class="card animated fadeInUp">
  <div class="card-image" align="middle">
    <!--  <img class="card-img" src=""> -->
  </div>
  <div class="card-content" align="middle">
    <span class="card-title"></span>
    <p>{{curso.resumo}}</p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab">
        <a href="#test4">Público Alvo</a>
      </li>
      <li class="tab">
        <a href="#test5">Competências a Desenvolver</a>
      </li>
      <li class="tab">
        <a href="#test6">Local</a>
      </li>
      <li class="tab">
        <a href="#test7">Períodos</a>
      </li>
    </ul>
  </div>
  <div class="card-content color">
    <div id="test4">
      <ul class="collection">
        <li class="collection-item">{{curso.publicoAlvo}}</li>
      </ul>
    </div>
    <div id="test5">
      <ul class="collection">
        <li class="collection-item">{{curso.competenciasDesenvolver}}</li>
      </ul>
    </div>
    <div id="test6">
      <ul class="collection">
        <li class="collection-item">{{curso.local}}</li>
      </ul>
    </div>
    <div id="test7">
      <ul class="collection">
        <li class="collection-item">Período de inscrição: {{curso.periodoInscricao}}</li>
        <li class="collection-item">Período de realização: {{curso.periodoRealizacao}}</li>
      </ul>
    </div>
  </div>
</div>