<div class="card animated fadeInUp">
  <div class="card-content" align="middle">
    <span class="card-title">{{curso.nome}}</span>
    <p>{{curso.resumo}}</p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab">
        <a href="#test4">Público Alvo</a>
      </li>
      <li class="tab">
        <a href="#test9">Pré Requisitos</a>
      </li>
      <li class="tab">
        <a href="#test5">Competências a Desenvolver</a>
      </li>
      <li class="tab">
        <a href="#test6">Modalidade e Local</a>
      </li>
      <li class="tab">
        <a href="#test8">Conteúdo</a>
      </li>
      <li class="tab">
        <a href="#test7">Save the Dates</a>
      </li>
    </ul>
  </div>
  <div class="card-content color">
    <div id="test4">
      <ul class="collection">
        <p id="publico" class="collection-item">{{curso.publicoAlvo}}</p>
      </ul>
    </div>
    <div id="test9">
      <ul class="collection">
        <p id="publico" class="collection-item">{{curso.preRequisitos}}</p>
      </ul>
    </div>
    <div id="test5">
      <ul class="collection">
        <p id="competencias" class="collection-item">{{curso.competenciasDesenvolver}}</p>
      </ul>
    </div>
    <div id="test6">
      <ul class="collection">
        <li class="collection-item">{{curso.modalidade}}</li>
        <li class="collection-item">{{curso.local}}</li>
      </ul>
    </div>
    <div id="test7">
      <ul class="collection">
        <li class="collection-item">
          <p id="publico" class="collection-item">{{curso.periodoInscricao}}</p>
          <!--<div class="row" style="display: flex; align-items: center">
            <div class="col s6">
              {{curso.periodoInscricao}}
            </div>
            <div class="col s6" align="right">
              <a class="waves-effect waves-light btn" href="https://goo.gl/forms/zYe3k6jR7uiHMJsE2" target="_blank">Inscreva-se</a>
            </div>
          </div>-->
        </li>
        <li class="collection-item">
          <div class="row" style="display: flex; align-items: center">
            <div class="col s12">
              {{curso.periodoRealizacao}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="test8">
      <ul class="collection">
        <p id="conteudo" class="collection-item"></p>
      </ul>
    </div>
  </div>
</div>