.calendario {
    margin-bottom: 30px;
    margin-top: 30px;
    border-left: 1px solid #bdbdbd ;
    padding-left: 30px;
}

.news {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "roboto";
    border-radius: 5px;
}

.div-news {
    height: 400px;
}

.promos {
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bdbdbd ;
}

.icon {
    color: crimson;
}

.conte {
    color: #757575;
}

.title {
    color: rgba(0,0,0,0.71);
}

.title-news {
    margin: 20px !important;
    color: #616161    !important;
    font-size: 1.5rem;
}

.conte-news {
    margin: 10px !important;
    color: #757575  !important;
    font-size: 1rem;
}

.section {
    padding: 0px;
}
